.cover__link {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  background-image: url(../../../images/cover/__background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2a2c2f;
  opacity: 0.3;
  transition: opacity .5s ease-in;
}

.cover__link:hover::before {
  background: #2a2c2f;
  opacity: 0.8;
}
/* @media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__link {
    max-height: 640px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__link {
    max-height: 480px;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .cover__link {
    max-height: 265px;
  }
}
@media screen and (max-width: 424px) {
  .cover__link {
    max-height: 200px;
  }
} */