@font-face { 
  font-family: 'Inter';
  src: url(../../fonts/inter/Inter-Regular.woff) format("woff"),
       url(../../fonts/inter/Inter-Regular.woff2) format("woff2");
}
.page {
  background-color: #2a2c2f;
  color: #ffffff;
  min-width: 320px;
  font-family: 'Inter', Arial, sans-serif;
}