.footer__author {
  margin: 0px 0px 0px auto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 767px) {
  .footer__author {
    line-height: 14px;
    margin: 48px 0 0 0;
  }
}