.lang {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  margin-left: 18px;
}

.lang:hover {
  opacity: 0.8;
  transition: opacity .2s ease-in;
}
@media screen and (max-width: 424px) {
  .lang {
    font-size: 18px;
    line-height: 20px;
  }
}