.cover {
  display: block;
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
}
.cover__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  margin: 0px auto;
}
.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 360px;
  margin: 0px auto;
  padding-top: 32px;
  }