.place__item {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto;
  grid-gap: 48px 40px;
  padding-bottom: 80px;
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__item {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__item {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 767px) {
  .place__item {
    grid-template-columns: minmax(288px, 1fr);
    grid-gap: 32px;
    padding-bottom: 50px;
  }
}